<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
    <h1>Bienvenido a Velocity</h1>

    <!-- Mostrar si el usuario no está autenticado -->
    <div sec:authorize="!isAuthenticated()">
        <p>Por favor, <a href="/login">inicia sesión</a> o <a href="/register">regístrate</a>.</p>
    </div>

    <!-- Mostrar si el usuario está autenticado -->
    <div sec:authorize="isAuthenticated()">
        <p>Hola, <span sec:authentication="name"></span>!</p>
        <ul>
            <li><a href="/registerBike">Registrar Bicicleta</a></li>
            <li><a href="/myBikes">Ver Mis Bicicletas</a></li>
            <li><a href="/gestionAlquiler">Alquilar Bicicleta</a></li>
            <li><a href="/logout">Cerrar sesión</a></li>
        </ul>
    </div>
</body>
</html>
